<p>******** Welcome to the longest word-game!********</p>
<p>Here is your grid:</p>
<p><%= @grid %></p>

<p>*****************************************************</p>
<form action="/pages/score">
  <label for="answer">What's your best shot?</label>
  <input type="text" id="answer" name="guess" placeholder="Type your answer">
  <input type="hidden" name="grid" value="<%= @grid %>">
  <input type="hidden" name="start_time" value="<%= @start_time %>">
  <input type="submit" value="Go!">
</form>
